<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="static/style.css">   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="milicolskpoaskd.png" type="image/x-icon">
</head>
<body>
    <div class="pag-inicial">
     <img src="milicolskpoaskd.png">
     <h1>HZ concursos militares </h1>  

        
    </div>
    <div class="botoes">
      <a href="login.html">FAZER LOGIN</a>  
      <a href="cadastro.html">CADASTRAR-SE</a>  
    </div>
    </div>

</body>
</html>